.vs/
packages/
/OsCoreApplication/Properties
/OsCoreApplication/bin
/OsCoreApplication.Authorize/bin
/OsCoreApplication.Authorize/obj
/OsCoreApplication.Common
/OsCoreApplication.Configuration/bin
/OsCoreApplication.Configuration/obj
/OsCoreApplication.DataLayer/Properties
/OsCoreApplication.DataLayer/bin
/OsCoreApplication.Libraries/Properties
/OsCoreApplication.Libraries/bin
/OsCoreApplication.Logger/Properties
/OsCoreApplication.Logger/bin
/OsCoreApplication.Services/bin
/OsCoreApplication.Services/Properties
/OsCoreApplication.Test/bin
/OsCoreApplication.Test/Properties
/OsCoreApplication.ViewModel/Properties
/OsCoreApplication.ViewModel/bin
/OsCoreApplication.DataLayer/obj
/OsCoreApplication.Libraries/obj
/OsCoreApplication.Logger/obj
/OsCoreApplication.Services/obj
/OsCoreApplication.Test/obj
/OsCoreApplication/obj
/OsCoreApplication.ViewModel/obj
