
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper Bgs">
    <div class="hero-wrap">
        <div class="circle-bg"></div>
        <div class="circle-bg-2"></div>

        <section class="content">
            <div style="padding:10px">

                <div class="field" style="margin-top:30px; font-size:30px; color:white; text-align:center; line-height:normal">
                    QUẢN TRỊ WEBSITE BĐS HOÀNG LIÊN SƠN
                </div>

                <div style="text-align:center; margin-top:auto; margin-bottom:auto">
                    <img style="width:200px; height:auto" src="~/images/logo.png" />
                </div>

            </div>
        </section>
    </div>
    <!-- /.content -->
</div>


